@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-950 text-slate-200 antialiased;
    }

    /* Global Scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-slate-950;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-slate-800 rounded-full border-2 border-slate-950;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-700;
    }
}

@layer utilities {
    /* Thin Scrollbar for TOC */
    .scrollbar-thin::-webkit-scrollbar {
        width: 4px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        @apply bg-slate-800 rounded-full;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-600;
    }
}